@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TECIS | Lockscreen</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <!-- Fav and touch icons -->

    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/ico/favicon-16x16.png">
    <link rel="manifest" href="~/Content/ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="gray-bg">

    <div class="lock-word animated fadeInDown">
        <span class="first-word">LOCKED</span><span>SCREEN</span>
    </div>
    <div class="middle-box text-center lockscreen animated fadeInDown">
        <div>
            <div class="m-b-md">
                <img alt="image" class="img-circle circle-border" src="https://s3.amazonaws.com/uifaces/faces/twitter/ok/128.jpg">
            </div>
            <h3>Laolu Olapegba </h3>
            <p>Your have been inactive for 10mins. We locked your screen to protect you, you need to enter your password to continue.</p>
            <form class="m-t" role="form" action="#">
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="******" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width">Unlock</button>
            </form>
        </div>
    </div>

</body>

</html>
