<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISMSSiteAdmin" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.smslive247.com/api/webservice/smssiteadmin.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISMSSiteAdmin"
                contract="SMSServiceApi.ISMSSiteAdmin" name="BasicHttpBinding_ISMSSiteAdmin" />
        </client>
    </system.serviceModel>
</configuration>